.tenor-sans-regular {
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}


body {
    
    
}
/* GLOBAL STYLES */

html {
    font-size: 10px;
}

body {
    font: 1.7rem Roboto, serif;
    margin: 0;
    color: #000;
}

#services, #gallery, #serviceArea {
    margin-bottom: 20px;
}

h1 {
    color: #005800; /* MAIN COLOR DARK GREEN */
    font-size: 36px; /* H1 HEADING SIZE */
    font-family: Tenor Sans, sans-serif;
}

h2 {
    font-size: 28px; /* H2 HEADING SIZE */
    color: #009800; /* ACCENT COLOR MED GREEN */
    font-family: Tenor Sans, sans-serif;
}

p {
    color: #676767; /* DARK GRAY COLOR */
    font-size: 18px;
    margin: 0 0 1em;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
    letter-spacing: .1rem;
}

.button {
    background-color: #009800;/* ACCENT COLOR MED GREEN */
    color: #fff;
    padding: .5em .8em;
    border-radius: 12px;
    border: 1px white solid;
    text-transform: uppercase;
    box-shadow: 1px 1px gray;
}

img {
    border: 1px solid #005800; /* MAIN COLOR DARK GREEN */
}

/* NAV */


nav { 
    background-color: #005800; /* MAIN COLOR DARK GREEN */
    padding: .5rem;
    color: white;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

nav a {
    color: white;
}



/* HOMEPAGE STYLING */



/* HERO SECTION */

section#hero {
    background: url('../images/lawn-aeration-lg.jpg') center / cover;
    height: 600px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 5%;
}

#hero p {
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px black, 4px 4px 5px black;
}

/* SERVICES SECTION */

#services h1, #gallery h1 {
    font-size: 4rem;
    margin-bottom: .5em;
    color: white;
    background-color: #005800; /* MAIN COLOR DARK GREEN */
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

h2 a {
    color: #009800; /* ACCENT COLOR MED GREEN */
    text-decoration: underline;
}

/* FOOTER */

footer {
    background-color: #005800; /* MAIN COLOR DARK GREEN */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer p {
    font-size: 1.2rem;
    padding: 0 10px;
    color: white;
    text-align: center;
}

i {
    color: white;
}


/* SMALL SCREEN MEDIA QUERY */



/* HAMBURGER MENU - NEED HELP */ 

/* IMPLEMENT MAX WIDTH ON CONTENT, MAX WIDTH=100% HEIGHT=AUTO ON IMAGES FOR RESPONSIVENESS, ALIGN EVERYTHING CENTRALLY, STACK ARTICLES ON TOP EACH OTHER IN FOOTER WITH FLEXWRAP? HERO P SHOULD HAVE MAX WIDTH OF 50% ON LARGE SCREEN */

/* LARGE SCREEN HERO P SHOULD HAVE MAX WIDTH OF 50%, ARTICLE H2S/PS AND IMAGES SIDE BY SIDE, ALTERNATING (GRID-TEMPLATE-AREAS?) */





