.tenor-sans-regular {
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

:root {

  /* typography */
  --primary-font: "Roboto", sans-serif;
  --header-font: "Tenor Sans", sans-serif;
  --paragraph: 1.8rem "Roboto", sans-serif;
  --header-one-size: 3.6rem;
  --header-two-size: 2.8rem;
  --header-three-size: 2.4rem;
  --primary-text-weight: 100;
  --btn-font-size: 2rem;
  --btn-font-weight: 500;


  /* color */
  --main-color: #005800;
  --secondary-color: #676767;
  --bg-color: #E0F2E0;
  --accent-color: #009800;
  --white: #fff;
  

  /* effects */
  --shadow: 2px 2px 5px #444;

  /* sizing */
  --border-rad: 8px;
  --border-weight: 1px;

  /*shorthands*/
  --border-shorthand: 1px solid #005800;
  --border-btn-shorthand: 2px solid #fff;
}



/*  ...........GLOBAL STYLES...........  */

html {
    font-size: 10px;
}

body {
    font: var(--paragraph);
    color: var(--secondary-color);
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
}

main {
    background-color: var(--white);
}

#services, #gallery, #serviceArea {
    margin-bottom: 20px;
}

h1 {
    color: var(--main-color);
    font-size: var(--header-one-size);
    font-family: var(--header-font);
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: var(--header-two-size);
    color: var(--main-color);
    font-family: var(--header-font);
    text-align: center;
    text-transform: uppercase;
}

p {
    margin: 0 0 1em;
    line-height: 1.3;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    letter-spacing: .1rem;
}

.button {
    background-color: var(--accent-color);
    color: var(--white);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    padding: .5em 1em;
    border-radius: var(--border-rad);
    border: var(--border-btn-shorthand);
    text-transform: uppercase;
    box-shadow: var(--shadow);
}

img {
    border: var(--border-shorthand);
}

/* Header */
header {
  background-color: var(--main-color);
  padding: 3rem 1rem;
  height: 12rem;
}
header a {
  color: var(--white);

}
header nav {
  position: absolute;
  top: 3rem;
  right: 2.5rem;
}

/* NAV */
nav {
  padding: .5rem;
  display: flex;
  background-color: var(--accent-color);
  width: 6rem;
  height: 6rem;
  border: var(--border-btn-shorthand);
  border-radius: var(--border-rad);
}

.nav a {
  color: var(--white);
}
.nav a:visited {
  color: var(--white);
}
.nav a:hover {
  color: var(--main-color);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  border-bottom: var(--border-shorthand);
}

/* ham menu */
.ham-menu {
  height: 4.5rem;
  width: 4rem;
  margin: auto;
  position: relative;
}
.ham-menu span {
  height: .4rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: var(--white);
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
nav { 
    background-color: var(--accent-color);
    padding: .5rem;
    color: var(--white);
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
}
nav a {
    color: var(--white);
}

/* off-screen-menu */
.nav {
  background-color: var(--accent-color);
  height: 100vh;
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: left;
  line-height: 5rem;
  transition: .3s ease;
}
.submenu li {
  padding-left: 25px;
}
.nav.active {
  right: 0;
}

/* HOMEPAGE STYLING */
/* HERO SECTION */

#hero article {
    background: url('../images/lawn-aeration-lg.jpg') center / cover;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
   
}

#hero p {
    font-size: var(--header-three-size);
    color: var(--white);
    font-family: var(--header-font);
    text-shadow: var(--shadow);
    text-align: center;
    padding: 1.5rem;
    
}

#hero .button { 
    margin: auto;
    margin-top: 11rem;
    margin-bottom: 1rem;
    
}

/* SERVICES SECTION */
#services {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  
}

#services h1 {
    margin-bottom: .2rem;
    color: var(--white);
    background-color: var(--main-color);
    text-transform: uppercase;
    padding: 1.5rem;
}

#services article {
    margin-bottom: .8rem;
    padding: 2rem;

}

#services img {
  max-width: 100%;
  margin-bottom: 1.3rem;
}

#services h2 {
  margin-bottom: 1.5rem;
}

h2 a {
    color: var(--main-color);
    text-decoration: underline;
    text-align: center;
}

/* GALLERY SECTION */
#gallery {
  background-color: var(--main-color);
  flex-direction: column;
  justify-items: center;
  text-align: center;
  padding: 1.5rem 8rem;
}

#gallery h1 {
  color: var(--white);
}

#gallery img {
  max-width: 100%;
  margin-top: 1.5rem;
  border: var(--border-btn-shorthand);
}

#gallery p {
  margin-top: 2.8rem;
}

/* SERVICE AREA SECTION */
#serviceArea {
  flex-direction: column;
  justify-items: center;
  text-align: center;
  padding: 1.5rem 2rem;
}

#serviceArea img {
  max-width: 100%;
  margin-top: 1.5rem;
}

#serviceArea p {
  margin-top: 2.8rem;
}


/* REVIEWS - SUBPAGES */
#reviews{
    flex-direction: column;
    justify-items: center;
}

#reviews img {
    border: none;
}




/* FOOTER */

footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: center;
}

footer li {
  margin: .5rem;
}


footer p {
    font-size: 1.2rem;
    padding: 0 10px;
    color: var(--white);
    text-align: center;
    line-height: .6rem;
}

i {
    color: var(--white);
}


/*  LARGE SCREEN MEDIA QUERY */
@media screen and (min-width: 800px) {
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

/* NAV */
nav { /* This is the ham menu */
  all: unset;
}
.ham-menu {
  all: unset;
}

.nav { /* large screen menu */
  all: unset;
}

.nav ul {
  list-style: none;
  color: var(--white);
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  position: relative;
}
.nav li a{
  display: block;

}

.menu {
  position: relative;
  display: inline-block;
}
.submenu {
  position: absolute;
  top: 100%;
  background-color: var(--main-color);
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  /*transition: opacity 0.1s ease, visibility 0.1s ease;*/
  visibility: hidden;
  opacity: 0;
}

.nav li:hover .submenu {
  display: block;
  visibility: visible;
  opacity: 1;
}

.submenu li {
  padding: .8rem;
}
.nav a {
  color: var(--white);
}
.nav a:visited {
  color: var(--white);
}
.nav a:hover {
  color: var(--accent-color);
}


/* HERO SECTION */

#hero article {
  background: url('../images/lawn-aeration-lg.jpg') center / cover;
  height: 518px; 
  display: flex;
 
}

#hero p {
  font-size: var(--header-three-size);
  color: var(--white);
  font-family: var(--header-font);
  text-shadow: var(--shadow);
  text-align: center;
  padding: 1.5rem;
  
}

#hero .button { 
  margin: auto;
  margin-top: 11rem;
  margin-bottom: 1rem;
  
}

/*background pattern*/
body {
    background-image: url(../images/pattern.gif);
    background-repeat: repeat;
}


}
























/* SERVICES PAGE */


.servicesPage h1 {
    margin-top: 10px;
}

.pageTitle {
    margin: 0 auto;
    width: 92%;
    border-top: 1px solid var(--main-color);
}

.servicesPage p {
    padding: 13px;
    width: 88%;
    margin: 0 auto;
    /*margin-bottom: 13px;*/
    text-align: center;
}

.servicesPage article {
    border: solid 1px var(--main-color);
    border-radius: 15px;
    margin: 13px;
    text-align: center;
    min-height: 507px;
}

.servicesPage img {
    max-width: 88%;
    margin: 13px 0;
}


/* REVIEWS SECTION FOR ALL SUBPAGES */

#reviews {
    background-color: var(--main-color);
    color: white;
    padding-bottom: 30px;
}

#reviews h1 {
    color: white;
    padding: 20px;
}

#reviews hr {
    width: 92%;
    color: white;
    margin: 0 auto;
}

#reviews img {
    display: inline-block;
}

#reviews p {
    font-style: italic;
    padding: 0 22.5px;
    line-height: 1.8;
}





